*.iml
*.apk
*.png

/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/build
.idea/

.gradle/
license.jks
libgvr/gradlew
libgvr/gradlew.bat
libgvr/local.properties
demo/assets/testRoom1_1080Stereo.mp4


