*.iml

/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/build
.idea/

images/3.png
images/4.png
demo/demo-release.apk
.gradle/
license.jks
libgvr/gradlew
libgvr/gradlew.bat
libgvr/local.properties
